div{
    border:2px solid rgb(0, 255, 234);
    text-align:center;
    padding:20px;
    border-radius:40px;
    margin:20px auto;
    box-shadow:9px 9px 9px rgba(0, 183, 255, 0.4);
    background-color:yellow;
    width:80%;
    font-family:"Helvetica Neue"

}